<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="title" content="Deno Package Manager" />
    <meta
      name="description"
      content="Deno Package Manager is a new way for manage the Deno Modules with a NPM Experience for Deno"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dpmland.deno.dev" />
    <meta property="og:title" content="Deno Package Manager" />
    <meta
      property="og:description"
      content="Deno Package Manager is a new way for manage the Deno Modules with a NPM Experience for Deno"
    />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/97813425"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dpmland.deno.dev" />
    <meta property="twitter:title" content="Deno Package Manager" />
    <meta
      property="twitter:description"
      content="Deno Package Manager is a new way for manage the Deno Modules with a NPM Experience for Deno"
    />
    <meta
      property="twitter:image"
      content="https://avatars.githubusercontent.com/u/97813425"
    />
    <meta name="author" content="The DPM Team Authors" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Fira+Code:wght@500&family=Fredericka+the+Great&family=Indie+Flower&family=Kirang+Haerang&family=Rye&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <style>
    * {
      background-color: black;
      color: white;
      font-family: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      height: 100vh;
      width: 100vh;
      display: grid;
      place-content: center;
    }

    .dpm {
      font-size: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 30rem;
    }

    /** Css Shadow **/

    .dpm .letter {
      text-shadow: 0 0 0.4rem white, 0 0 0.5rem white, 0 0 0.25rem white;
      mix-blend-mode: screen;
    }

    /** Footer **/
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      font-family: Fira Code;
      text-align: center;
      font-size: 75%;
    }

    /** List **/
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      color: white;
      font-family: Fira Code;
      font-size: 24px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      text-shadow: 0 0 0.3rem white, 0 0 0.4rem white, 0 0 0.2rem white;
      mix-blend-mode: screen;
    }

    /** Logo Nav**/
    .logo {
      position: absolute;
      top: 8px;
      left: 16px;
      width: 3%;
      height: auto;
    }
  </style>

  <body>
    <nav>
      <ul>
        <a href="#">
          <img
            src="https://avatars.githubusercontent.com/u/97813425"
            alt="DPM Deno Package Manager"
            class="logo"
        /></a>
        <li>
          <a
            href="http://github.com/dpmland"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bx bxl-github"></i
          ></a>
        </li>
        <li>
          <a
            href="http://github.com/dpmland/docs/wiki"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bx bxs-book"></i
          ></a>
        </li>
        <li>
          <a href="/discord" target="_blank" rel="noopener noreferrer"
            ><i class="bx bxl-discord"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div class="dpm">
        <span class="letter">D</span>
        <span class="letter">P</span>
        <span class="letter">M</span>
      </div>
    </div>
    <footer class="footer">
      <strong>DPM</strong> by
      <a href="https://github.com/dpmland/dpm">DPM Contributors</a>. The source
      code is licensed
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0 license</a
      >. The website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY NC SA 4.0</a
      >.
    </footer>

    <script>
      // Set the Fonts
      const fonts = [
        "Bangers",
        "Amatic SC",
        "Fredericka the Great",
        "Indie Flower",
        "Kirang Haerang",
        "Rye",
      ];

      const letters = document.getElementsByClassName("letter");
      let count = 0;

      function rollIntro() {
        for (const i of letters) {
          i.style.fontFamily = fonts[Math.floor(Math.random() * fonts.length)];
        }
      }

      const introAnimation = setInterval(function () {
        rollIntro();
        if (count > 500) clearInterval(introAnimation);
        count++;
      }, 900);
    </script>
  </body>
</html>
