:root {
  --primary-color: #161614;
  --secondary-color: #fff;
  --tertiary-color: #e2e2e2;
  --hightlight-color: royalblue;
  --success-color: #00ff00;
  --error-color: #ff0000;

  --code-primary-color: #fff;
  --code-secondary-color: #21222c;
  --code-hightlight-color: #6495ed;

  --primary-font: 'Roboto', sans-serif;

  --page-max-width: 89rem;
  --page-main-max-width: 70rem;
}

:root.theme-dark {
  --primary-color: #fff;
  --secondary-color: #161614;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

button {
  background: none;
  padding: 0;
  border: none;
}
