<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Fredericka+the+Great&family=Indie+Flower&family=Kirang+Haerang&family=Rye&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="dpm">
      <span class="letter">D</span>
      <span class="letter">P</span>
      <span class="letter">M</span>
    </div>
  </div>
  <script>
    // Set the Fonts
    const fonts = [
      'Bangers',
      'Amatic SC',
      'Fredericka the Great',
      'Indie Flower',
      'Kirang Haerang',
      'Rye',
    ];

    const letters = document.getElementsByClassName('letter')

    function rollIntro() {
      for (const i of letters) {
        i.style.fontFamily = fonts[Math.floor(Math.random() * fonts.length)]
        console.log(i.style.fontFamily)
      }
    }

    const introAnimation = setInterval(function () {
      rollIntro()
      if (count > 500)
        clearInterval(introAnimation)
      count++;
    }, 350)
  </script>
</body>

</html>