<script>
  import { THEMES } from '@constants/themes'
  import getTheme from '@utils/getTheme'

  const toggle = document.getElementById('toggle-theme')!

  const [sunIcon, moonIcon] = toggle.children
  const root = document.documentElement

  let theme = getTheme()

  const updateTheme = () => {
    if (theme === THEMES.DARK) {
      root.classList.add('theme-dark')
      toggle.setAttribute('aria-checked', 'true')
      sunIcon.classList.remove('toggle__icon--show')
      moonIcon.classList.add('toggle__icon--show')
    } else {
      root.classList.remove('theme-dark')
      toggle.setAttribute('aria-checked', 'false')
      sunIcon.classList.add('toggle__icon--show')
      moonIcon.classList.remove('toggle__icon--show')
    }
  }

  updateTheme()

  toggle.addEventListener('click', () => {
    theme = theme === THEMES.DARK ? THEMES.LIGHT : THEMES.DARK

    localStorage.setItem('theme', theme)
    updateTheme()
  })
</script>

<button
  class="toggle"
  id="toggle-theme"
  type="button"
  aria-label="Dark mode"
  title="Toggle theme"
  role="switch"
  aria-checked="false"
>
  <svg
    class="toggle__icon toggle__icon--sun"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M7 12a5 5 0 1 1 5 5 5 5 0 0 1-5-5zm5-7a1 1 0 0 0 1-1V3a1 1 0 0 0-2 0v1a1 1 0 0 0 1 1zm-1 15v1a1 1 0 0 0 2 0v-1a1 1 0 0 0-2 0zm10-9h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2zM3 13h1a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm14.657-5.657a1 1 0 0 0 .707-.293l.707-.707a1 1 0 1 0-1.414-1.414l-.707.707a1 1 0 0 0 .707 1.707zM5.636 16.95l-.707.707a1 1 0 1 0 1.414 1.414l.707-.707a1 1 0 0 0-1.414-1.414zm11.314 0a1 1 0 0 0 0 1.414l.707.707a1 1 0 0 0 1.414-1.414l-.707-.707a1 1 0 0 0-1.414 0zM5.636 7.05A1 1 0 0 0 7.05 5.636l-.707-.707a1 1 0 0 0-1.414 1.414z"
    ></path>
  </svg>

  <svg
    class="toggle__icon toggle__icon--moon"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M11.993,3a9.326,9.326,0,0,0-1.138,4.477,8.8,8.8,0,0,0,8.569,9.015c.2,0,.385-.017.576-.03A8.5,8.5,0,0,1,12.569,21,8.8,8.8,0,0,1,4,11.985,8.83,8.83,0,0,1,11.993,3Z"
    ></path>
  </svg>
</button>

<style lang="scss">
  .toggle {
    position: relative;
    display: grid;
    place-items: center;
    background: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    padding: 0;
    border: none;

    &__icon {
      position: absolute;
      fill: var(--primary-color);
      opacity: 0;
      &--show {
        opacity: 1;
        transition: opacity 0.65s;
      }

      @media (prefers-reduced-motion: no-preference) {
        scale: 0;
        rotate: 180deg;
        transition: scale 0.3s, rotate 0.3s, opacity 0.3s;

        &--show {
          scale: 1;
          rotate: 360deg;
        }
      }
    }
  }
</style>
