---
import Metadata from '@components/Metadata.astro'
import Favicons from '@components/Favicons.astro'

const { title, description = "Deno Package Manager is a new way for manage the Deno Modules with a NPM Experience for Deno" } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Deno Package Manager</title>
    <slot name="head" />
    <Favicons />
    <Metadata
      title={title}
      description={description}
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
